.DailySignPage{
  width: 92%;
  height: 92vh;
  display: flex;
  margin: 0 auto;
}

.DailyleftSide{
  width: 20%;
  border-right: 3px solid black;
  display: flex;
  justify-content: center;
  font-family: 'Jua', sans-serif;
}

#DailyTitle{
  margin-top: 20%;
  font-size: 30pt;
}