.navbar-1{
  width: 92%;
  height: 120px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 3px solid black;
  margin: 0 auto;

}

.navbar-logo {
  margin-top:10px;
  margin-bottom:10px;
}
#logo-link {
  width: 80%;
  height: 80%;
}

.search {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
}

.searcharea{
  display: flex;
  margin-top: 8px;
  width : 100%;
  position: relative;
  justify-content: center;
}

.searchtext {
  width: 500px;
  height: 50px;
  border: 3px solid black;
  border-radius: 20px;
}

.searchbtn {
  margin-left: 2%;
  width: 100px;
  height: 55px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.LoginBtn{
  width: 10%;
  flex: auto;
  text-align: right;
  cursor: pointer;
}

.SignUpBtn{
  margin-right: 3%;
  width: 10%;
  flex: auto;
  text-align: right;
  cursor: pointer;
}

.LoginPage{
  display: inline-block;
  font-size:30px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.SignUpPage{
  display: inline-block;
  font-size:30px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.navbar-2{
  width: 92%;
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 3px solid black;
  margin: 0 auto;
}

.navbar-btn{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.DailySignPage{
  display: inline-flex;
  font-size:25px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.HospitalSignPage{
  display: inline-block;
  font-size:25px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;

}

.SchoolSignPage{
  display: inline-block;
  font-size:25px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;

}

.DownloadPage{
  display: inline-block;
  font-size:25px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.NoticePage{
  display: inline-block;
  font-size:25px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.ServicePage{
  display: inline-block;
  font-size:25px;
  color: black;
  font-family: 'Jua', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.searchbtn:hover{
  color: #FFCBA4;
}

.LoginBtn :hover{
  color : #FFCBA4;
  border-bottom: 2px solid black;
}

.SignUpBtn :hover{
  color: #FFCBA4;
  border-bottom: 2px solid black;
}

.navbar-btn > a:hover{
  color: #FFCBA4;
  border-bottom: 2px solid black;
}
